@media (min-width: 601px) {
  #open-nav-drawer,
  #close-nav-drawer {
    display: none;
  }

  #nav-drawer {
    width: auto;
    background-color: #111;
    position: static;
    padding: 0;
    clear: both;
    overflow: visible;
    clear: both;
  }

  .nav-link {
    display: inline;
    border: 1px solid red;
    margin: 0;
  }

  .nav-link {
    display: inline;
    font-size: 20px;
  }

  #section-pricing {
    flex-direction: row;
  }
}
