@media (min-width: 601px) {
  main {
    width: 70%;
    margin: 0 auto;
  }

  header {
    display: block;
  }

  #open-nav-drawer,
  #close-nav-drawer {
    display: none;
  }

  #logo-container,
  header>h1 {
    display: inline-block;
  }

  header>h1 {
    position: relative;
    top: -10px;
  }

  #nav-drawer {
    height: auto;
    width: auto;
    padding: 5px;
    position: static;
  }

  #nav-bar {
    display: flex;
  }

  .nav-link {
    margin-right: 45px;
    padding: 0;
    font-size: 20px;
  }

  #main {
    top: 110px;
  }

  #section-features>h2,
  #section-features>p {
    text-align: left;
  }

  #section-how-it-works>iframe {
    min-height: 400px;
  }

  footer {
    top: 111px;
  }
}

@media (min-width: 800px) {
  #section-pricing {
    flex-direction: row;
    justify-content: center;
  }

  .guitar-type {
    margin: 0 8px 0 8px;
  }
}
