@media (min-width: 601px) {
  body {
    background-color: cyan;
  }
  
  main {
    background-color: pink;
  }

  #open-nav-drawer,
  #close-nav-drawer {
    display: none;
  }

  #nav-drawer {
    height: auto;
    width: auto;
    padding: 5px;
    position: static;
  }

  #nav-bar {
    display: flex;
  }

  .nav-link {
    margin-right: 45px;
    padding: 0;
    font-size: 20px;
  }

  #main {
    top: 100px;
  }

  #section-pricing {
    flex-direction: row;
  }
}
