body {
  background-color: blue;
}

#main-container {
  background-color: wheat;
}

header {
  width: 100%;
  background-color: purple;
  position: fixed;
  top: 0;
  z-index: 1;
}

header>h1 {
  display: inline;
  position: relative;
  font-family: zekton;
  top: -12px;
}

#nav-drawer {
  background-color: #111;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.nav-link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav-link:hover {
  color: #f1f1f1;
}

#open-nav-drawer {
  height: 30px;
  width: 30px;
  display: inline-block;
  position: relative;
  top: -8px;
  left: 5px;
  margin-right: 5px;
}

#open-nav-drawer:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

#logo-container {
  height: 50px;
  width: 50px;
  display: inline-block;
}

#logo-container>img {
  max-width: 100%;
  height: auto;
}

#close-nav-drawer {
  color: #818181;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
  margin-left: 50px;
}

#close-nav-drawer:hover {
  color: #f1f1f1;
  cursor: pointer;
}

#main {
  background-color: red;
  position: relative;
  top: 57px;
  padding: 10px;
}

#main>h2 {
  text-align: center;
}

form>* {
  display: block;
  margin: auto;
  border-radius: 3px;
}

form>input {
  border: 1px solid grey;
  padding: 2px;
  margin-bottom: 10px;
}

#features>h3,
#features>p {
  text-align: center;
}

#how-it-works>iframe {
  width: 100%;
  height: auto;
}
